nav {
  background-color: #edefee;
  margin-bottom: 1%;
}

section.backgroundNavbar {
  display: flex;
  padding: 1% 0;
  justify-content: space-around;
}

.navbar {
  display: flex;
}

.navbar li {
  /*fix the height issue on bigger resolution screen*/
  margin: 6px;
  padding: 8px 16px;
  list-style: none;
  border: 2px solid #edefee;
  transition: var(--transition);
}

.navbar li:hover {
  border: 2px solid #f4ce14;
  transition: var(--transition);
}

.navbar a {
  text-decoration: none;
  color: #495e57;
  text-transform: uppercase;
}

.navbar a:hover {
  color: #f4ce14;
}
